@import 'variables';

body {
  position: relative;
  margin: 0;
  padding-bottom: 3rem;
  box-sizing: border-box;

  // background-color: #000000;
  background-color: #fff;
}

.mobile-menu-active {
  @media (max-width: $screen-md) {
    overflow: hidden;
  }
}

.container {
  position: relative;
  max-width: $screen-sm;
  padding-inline: 1rem;
  margin: 0 auto;

  @media (min-width: $screen-md) {
    max-width: $screen-md;
  }

  @media (min-width: $screen-lg) {
    max-width: $screen-lg;
  }

  @media (min-width: $screen-xl) {
    max-width: $screen-xl;
  }
}
