@import 'variables';

#mobile-menu-activated {
  @media (max-width: $screen-md) {
    height: 100vh;
    overflow-y: scroll;
    position: relative;
  }

  #mobile-menu-content {
    display: block;
    
    @media (min-width: $screen-md) {
      display: none;
    }
  }

}

header {
  background-color: $clr-primary;

  color: #fff;

  padding-top: 2rem;
  padding-bottom: 10rem;

  @media (min-width: $screen-md) {
    padding-bottom: 17rem;
  }

  nav {
    display: flex;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      align-items: center;
    }

    #logo {
      position: relative;
      min-width: 10rem;
      min-height: 3rem;
      margin: 0;

      @media (min-width: $screen-xl) {
        min-width: 12rem;
      }
    }

    #nav-links {
      display: none;

      li {
        transition: 200ms;
      }

      li:hover {
        color: $clr-secondary;

        cursor: pointer;
      }

      #nav-links {
        display: flex;
        align-items: center;
      }

      .selected {
        color: $clr-secondary;
      }

      @media (min-width: $screen-md) {
        display: flex;
        gap: 1rem;
        
        list-style: none;
        margin: 0;
      }

      @media (min-width: $screen-lg) {
        gap: 2rem;

        font-size: large;
      }
    }
    
    #nav-content {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      * {
        display: inline-block;
        margin: 0;
      }
      
      #budget {
        display: flex;
        align-items: center;
        justify-content: center;

        aspect-ratio: 1 / 1;
        // width: 1.6rem;

        border-radius: 7px;

        margin-right: 1rem;
        padding: .5rem .6rem;

        background-color: $clr-secondary;
        
        cursor: pointer;

        #budget-icon {
          font-size: 2.3rem;
          // height: fit-content;

          @media (min-width: $screen-md) {
            font-size: 1.7rem;
          }
        }

        p {
          display: none;
        }
        
        @media (min-width: $screen-md) {
          justify-content: space-between;
          column-gap: .5rem;


          aspect-ratio: unset;
          width: fit-content;

          background-color: rgba(255, 255, 255, 0.12);

          padding: .5rem 1rem;

          transition: 200ms;

          &:hover {
            background-color: $clr-secondary;
          }

          p {
            display: inline-block;
          }
        }
      }

      #mobile-menu-btn {
        font-size: xx-large;
        font-weight: 100;

        @media (min-width: $screen-md) {
          display: none;
        }
      }
    }
  }

  .dropdown-icon {
    margin-right: .5rem;
  }

  #desktop-dropdown-icon {
    vertical-align: middle;
    margin-left: .3rem;

    transition-duration: .3s;
    transition-timing-function: ease-in;
  }

  .upside-down {
    transform: rotate(180deg);
  }

  #dropdown-options {
    column-gap: 3rem;

    border-top: 1px solid $clr-beige;

    margin-top: 1rem;
    padding-top: 3rem;

    & * {
      margin-top: 0;
    }

    #dropdown-title {
      max-width: 15rem;

      font-weight: 400;
    }

    .menu-subtitle {
      font-weight: 500;
    }

    .dropdown-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;

      font-weight: 300;

      p {
        transition: .13s;
      }

      p:hover {
        color: $clr-secondary;
        cursor: pointer;
      }
    }
  }

  .dropdown-hidden {
    display: none;
  }

  .dropdown-active {
    display: flex;

    @media (max-width: $screen-md) { 
      display: none;
    }
  }

  #hero {
    padding-bottom: 2rem;

    h1 {
      font-size: xx-large;
      font-weight: 400;
    }

    span {
      color: $clr-accent;
    }

    p {
      padding-right: 5rem;
      line-height: 1.6;
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  #mobile-menu-content {
    position: absolute;
    width: 100%;
    top: 7rem;
    left: 0;
    min-height: 100vh;
    padding-bottom: 3rem;

    display: none;
    
    z-index: 2;

    background-color: $clr-primary;

    .mobile-menu-title {
      font-weight: 500;
      
      width: 50%;
      margin: 3rem 0 2.5rem;
    }

    #itens-catalog-title {
      width: 70%;
    }

    .mobile-menu-subtitle {
      font-size: large;
      font-weight: 500;
    }

    #mobile-menu-links {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      a {
        color: $clr-beige;
        text-decoration: none;
      }
    }

    .mobile-menu-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      p {
        font-weight: 300;
      }
    }
  }

}
